*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*JLinkLog.txt
*_build
*.uvgui.*
*.uvguix.*
*.uvprojx.*
*.uvoptx.*
*~
*JLink*
*.0000
cscope.files
tags
flash.jlink
*.swp
